@font-face {
    font-family: 'Myriad Pro Regular';
    src: 
    url('../fonts/MariadPro/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MariadPro/MyriadPro-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    display: swap;
}   

@font-face {
    font-family: 'Roboto Regular';
    src: 
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: 
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    display: swap;
    }